/* You can add global styles to this file, and also import other style files */
body{
    text-align: center;
    align-items: center;
    background-color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color: aqua ;
}
h3{
    color: aqua;
}
p{
    color: aqua;
    font-size: 30px;
}
.btn{

justify-content: center; 
align-items: center; 
height: 30px; 
border: 2px solid #333;
}
.img{
    justify-content: center;

}